<form
  [formGroup]="passwordChangeForm"
  (ngSubmit)="handleOnSubmit()"
  class="profile-edit-form"
>
  <h2 class="form__header">Change your password</h2>
  <div class="form__group">
    <input
      class="form__input"
      type="password"
      formControlName="currentPassword"
      placeholder="Current password"
    />
    <label id="label-currentpassword" class="form__label"
      >Current password</label
    >
  </div>

  <div class="form__group">
    <input
      class="form__input"
      type="password"
      formControlName="newPassword"
      placeholder="New password"
    />
    <label id="label-newpassword" class="form__label">New password</label>

    <span class="form__note"
      >Password must be complex, it must contain at least one number, one
      uppercase letter, one lowercase letter, one non-alphanumeric character and
      be at least 12 characters long</span
    >
  </div>

  <div class="form__group">
    <input
      class="form__input"
      type="password"
      formControlName="confirmNewPassword"
      placeholder="Confirm new password"
    />
    <label id="label-confirmnewpassword" class="form__label"
      >Confirm new password</label
    >
  </div>

  <div class="form__group" *ngIf="error">
    <span class="form__note form__note--error">{{ errorMsg }}</span>
  </div>

  <div class="form__group d-flex justify-content-md-end">
    <button
      class="form__submit-button button button-auth w-lg-100"
      type="submit"
      [disabled]="!passwordChangeForm.valid"
    >
      Update password
    </button>
  </div>
</form>
