<nav class="container-fluid d-flex justify-content-around">
  <div class="nav__logo-container">
    <picture>
      <img class="nav__logo" alt="logo" />
    </picture>
  </div>

  <div class="nav__main-links">
    <ul class="nav__links d-flex">
      <li class="nav__li">
        <a routerLink="/catalogue" class="nav__a">Catalogue</a>
      </li>

      <li class="nav__li">
        <a routerLink="/about" class="nav__a">About us</a>
      </li>
      <li class="nav__li"><a routerLink="" class="nav__a"></a></li>
      <li class="nav__li"><a routerLink="" class="nav__a"></a></li>
    </ul>
  </div>
</nav>
