@import "../../../styles/themes.scss";

.backdrop {
  width: 100vw;
  height: 100vh;
  z-index: 8000;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.splash-screen-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8001;
  margin-top: 7rem;
  margin-left: 0.05rem;
}

.splash-screen-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8001;
  font-size: 8rem;

  &--success {
    color: $success;
  }

  &--error {
    color: $error;
  }
}
