<form class="form" [formGroup]="signupForm" (ngSubmit)="handleOnSubmit()">
  <h2 class="form__header">Sign up</h2>
  <div class="row">
    <div class="col-12">
      <div class="form__group">
        <input
          class="form__input"
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email"
          autocomplete="off"
        />
        <label class="form__label" id="label-email" for="email">Email</label>
      </div>
    </div>

    <div class="col-12">
      <div class="form__group">
        <input
          class="form__input"
          type="username"
          id="username"
          formControlName="username"
          placeholder="Username"
          autocomplete="off"
        />
        <label class="form__label" id="label-username" for="username"
          >Username</label
        >
      </div>
    </div>

    <div class="col-12">
      <div class="form__group">
        <input
          class="form__input"
          type="displayname"
          id="displayname"
          formControlName="displayName"
          placeholder="Display name"
          autocomplete="off"
        />
        <label class="form__label" id="label-displayname" for="displayname"
          >Display name</label
        >
      </div>
    </div>

    <div class="col-12">
      <div class="form__group">
        <input
          class="form__input"
          type="password"
          id="password"
          formControlName="password"
          placeholder="Password"
          autocomplete="off"
        />
        <label class="form__label" id="label-password" for="password"
          >Password</label
        >
        <span class="form__note"
          >Password must be complex, it must contain at least one number, one
          uppercase letter, one lowercase letter, one non-alphanumeric character
          and be at least 12 characters long</span
        >
      </div>
    </div>

    <div class="col-12">
      <div class="form__group">
        <input
          class="form__input"
          type="password"
          id="confirm-password"
          formControlName="confirmPassword"
          placeholder="Confirm password"
          autocomplete="off"
        />
        <label
          class="form__label"
          id="label-confirm-password"
          for="confirm-password"
          >Confirm Password</label
        >
      </div>
    </div>

    <div *ngIf="error" class="col-12">
      <div class="form__group">
        <span class="form__note form__note--error">{{ errorMsg }}</span>
      </div>
    </div>

    <div class="col-12">
      <div class="form__group w-100 d-flex justify-content-end">
        <button
          class="form__submit-button button button-auth w-100"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          Sign up
        </button>
      </div>
    </div>
  </div>
</form>
