$primary-color: #202124;
$primary-contrast: rgba(232, 234, 237, 0.04);
$primary-nav: rgb(31, 30, 33);

$secondary-color: #e8eaed;

$inactive: #9aa0a6;
$inactive-alpha: rgba(154, 160, 166, 0.5);

$tertiary-color: #273469;
$teritary-darker-color: #1d2029;

$accent-color: #e4d9ff;

// $separator-bg: #3b372c;
$separator-bg: #3c4043;

$malachite: #53dd6cff;
$polished-pine: #63a088ff;
$dark-blue-gray: #56638aff;
$english-violet: #483a58ff;
$old-mauve: #56203dff;

$error: #c0392b;
$success: #27ae60;
