$primary-color: #30343f;
$secondary-color: #fafaff;
$tertiary-color: #273469;
$teritary-darker-color: #1e2749;

$accent-color: #e4d9ff;

$main-font-family: "Playfair Display", serif;
$logo-font-family: "Old Standard TT", serif; ;
