// fonts
$main-font-family: "Roboto", sans-serif;
$logo-font-family: "Old Standard TT", serif;

// margin values
$comp-mb: 10rem;
$comp-xxl-mb: 8rem;
$comp-xl-mb: 6rem;
$comp-lg-mb: 4rem;
$comp-md-mb: 2rem;

$content-p: 5rem;

// border radius
$content-borer-radius: 1rem;
