@import "../../../styles/typography.scss";
@import "../../../styles/themes.scss";
@import "../../../styles/variables.scss";

.card-listing {
  padding: $content-p;
}

.card {
  min-height: 50rem;
  // height: 100%;
  margin-bottom: 2rem;

  &__container {
    &-img {
      height: 50rem;
      width: auto;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
