@import "../../../styles/typography.scss";
@import "../../../styles/themes.scss";
@import "../../../styles/variables.scss";

.card-listing {
  padding: $content-p;
}

.card {
  min-height: 50rem;
  margin-bottom: 2rem;
}
