<section class="card-listing">
  <h2 class="mb-5">Popular today</h2>

  <div class="row d-flex">
    <div
      *ngFor="let card of images; index as i"
      class="col-12 col-md-6 col-lg-4 col-xxl-3"
    >
      <div class="card">
        <img class="card__img" [src]="card" />
        <div class="card__content d-flex flex-column align-items-end">
          <p class="card__text">{{ games[i].title }}</p>
          <button
            routerLink="catalogue/game/{{ games[i].id }}"
            class="button button-primary"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
