<div class="container">
  <div class="row dashboard-wrapper">
    <div class="col-12 col-lg-3 dashboard-menu-wrapper">
      <ul class="dashboard-menu">
        <li class="dashboard-menu__li">
          <i class="dashboard-menu__icon fa-solid fa-user"></i>
          <span class="dashboard-menu__span">Profile</span>
        </li>
        <li class="dashboard-menu__li">
          <i class="dashboard-menu__icon fa-solid fa-gamepad"></i>
          <span class="dashboard-menu__span">Games</span>
        </li>
      </ul>
    </div>
    <div class="col-12 col-lg-9"><p>content</p></div>
  </div>
</div>
