<div class="container">
  <div class="row dashboard-wrapper mx-5 my-5">
    <div class="col-12 col-lg-3 dashboard-menu-wrapper">
      <ul class="dashboard-menu">
        <li class="dashboard-menu__li" routerLink="edit">
          <i class="dashboard-menu__icon fa-solid fa-user"></i>
          <span class="dashboard-menu__span">Profile</span>
        </li>

        <li
          *ngIf="user?.role === 'admin'"
          class="dashboard-menu__li"
          routerLink="games"
        >
          <i class="dashboard-menu__icon fa-solid fa-gamepad"></i>
          <span class="dashboard-menu__span">Games</span>
        </li>
      </ul>
    </div>
    <div class="col-12 col-lg-9 dashboard-content-wrapper">
      <!-- <app-profile-edit></app-profile-edit> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
